{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page.</h1>
            <p>esztergal.hu</p>
            
            <img src="/static/images/_DSC0070.jpg" height="540" width="400">
        </div>
    </div>
</div>
{{end}}